/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-grey: #7e7e7e;
    --basic-grey-light: #e5e5e5;
    --special-yellow: #f7e296;
    --special-green: #91c92f;
    --special-yellow-dark: #f0c52e;
    --error: #f6dada;
    --white-30: rgba(255, 255, 255, 0.3);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-70: rgba(255, 255, 255, 0.7);
    --black-30: rgba(0, 0, 0, 0.3);
    --black-40: rgba(0, 0, 0, 0.4);
}

/* Fonts */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

/* Global */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reset-header {
    margin: 0;
    padding: 0;
}

.reset-text {
    margin: 0;
}

.page {
    height: 100%;
}

.body {
    min-width: 1160px;
    padding: 0;
    margin: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: normal;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.body a {
    text-decoration: none;
}

/* Header */

.page-header {
    background-color: var(--special-yellow);
}

.user-navigation {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.user-navigation a {
    color: var(--basic-black);
}

.search-link {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: var(--black-30);
}

.site-navigation {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.site-navigation a {
    color: var(--basic-black);
}

.catalog-list {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
}

/* Slider */

.slider-header {
    font-size: 47px;
}

.slider-text {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.slider-link {
    color: var(--basic-black);
    text-transform: uppercase;
    letter-spacing: 3.6px;
}